[user]
	name = Ilyos Khurozov
	email = ilyos@khurozov.uz
	signingkey = 627C9E675DDF7D72
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	lg = log --pretty=format:\"%Cgreen%h%Creset - %Cblue%ad%Creset %s %C(dim white)- %an <%ae>%C(auto)%d\" --date=format:\"%Y-%m-%d %H:%M:%S\"
[core]
	autocrlf = input
