[init]
    defaultBranch = main
[commit]
    gpgsign = true
[alias]
    lg = log --pretty=format:\"%Cgreen%h%Creset - %Cblue%ad%Creset %s %C(dim white)- %an <%ae>%C(auto)%d\" --date=format:\"%Y-%m-%d %H:%M:%S\"
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowedSSHSigners

# multiuser
[includeIf "hasconfig:remote.*.url:git@codeberg.org:*/**"]
    path = ~/.config/git/codeberg.config
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
    path = ~/.config/git/github.config
[includeIf "hasconfig:remote.*.url:git@bitbucket.org:ooomaroqand/**"]
    path = ~/.config/git/maroqand.config
